@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  color: black;
  background-color: white;
}
 
ul a.active{
  border-bottom:2px solid  rgb(8, 14, 88);
  padding: 0px 4px 5px 4px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgb(223, 224, 225);
   color: rgb(31, 40, 167);
  border-radius: 5px;
}

.mw{
  max-width: 1200px;
  margin:auto
}
